
.sample {
  height:100%;
  margin:0;
  align-items: center;
  font: normal 12px/18px 'Arial';
  color: #fff;
  background-color: black;
  cursor: pointer
}

.wrapper {
    align-items: center;
    text-align: center;
    padding-left: 50%;
}



.center {
    background-color: black;
    color: #fff;
    border: none;
    position: absolute;
    width: 200px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -100px; /* margin is -0.5 * dimension */
    margin-top: -25px;
    text-align: center;
    font-size: 42px;
}
