#exhibit {
    height: 250px;
    width: 100%;
    overflow: auto;
}

#scroll-container {
    height: 100;
    width: 100%;
    overflow: hidden;
}

#content {
    height: 50px;
    width: 2000px;
    background-color: coral;
}

#mySidenav a {
    position: absolute;
    right: -5px;
    transition: 0.3s;
    padding: 10px;
    width: 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 3px 0px 0px 3px;
    opacity: 0.3;
}

#mySidenav a:hover {
    right: 0;
}


#scroll {
    bottom: 20px;
    background-color: #555
}
